
<a class="btn btn-primary" href="@Url.Action("UserManagament", "User")">User managament</a>

<a class="btn btn-primary" href="@Url.Action("ProductManagament", "Admin")">Products managament</a>

<a class="btn btn-primary" href="@Url.Action("ProductCategoryManagament", "Admin")">Product category managament</a>
